/* Body Styles */
body {
    background: url(../images/Vybzebg.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Style for paragraphs */
p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 10px;
}

/* Style for links */
a {
    color: #F72798;
    text-decoration: none;
}

/* Style for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    /* Center horizontally */
    padding: 20px;
    border: 4px solid #F72798;
    width: 80%;
    max-width: 500px;
    /* Set a max-width if needed */
    position: relative;
    /* Position relative for close button */
}

/* Style for logo */
.logo-container {
    display: flex;
    justify-content: left;
}

#logo img {
    margin-bottom: 150px;
    max-width: 550px;
    height: auto;
    margin-left: 20px;

}

/* Style for buttons */
.button {
    background-color: black;
    margin-top: 20px;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid transparent;
    /* Transparent border */
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

#energyBtn:hover {
    border-color: #EBF400;
    box-shadow: 0 0 15px 0 #EBF400;
    /* Neon glow */
}

#situationBtn:hover {
    border-color: #F72798;
    box-shadow: 0 0 15px 0 #F72798;
    /* Neon glow */
}

#moodBtn:hover {
    border-color: #F57D1F;
    box-shadow: 0 0 15px 0 #F57D1F;
    /* Neon glow */
}

#makeMagic {
    color: #EBF400;
}

#makeMagic:hover {
    color: #F57D1F;
}

.energy {
    color: #F72798;
}

.situation {
    color: #F57D1F;
}

.mood {
    color: #EBF400;
}

.pickBtn {
    margin-top: 20px;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    border: 2px solid transparent;
    /* Transparent border */
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.pickBtn:hover {
    border-color: #F72798;
    box-shadow: 0 0 15px 0 #F72798;
    /* Neon glow */
}

/* Style for the footer */
footer {
    margin-top: auto;
    /* Pushes footer to the bottom */
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
    /* Optional: center align text */
    border-top: 3px solid #F72898;
    /* Optional: top border for separation */
}

.footer {
    background-color: #EAF400;
    /* Optional: background color for the footer */
    padding: 25px 0px;
}

.is-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 50px;
}

/* Style for the slideshow */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

.slideshow-image {
    width: 100%;
    height: auto;
}