/* Style for modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for images */
.flickr-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#logo img {
    margin-bottom: 150px;
    max-width: 550px;
    height: auto;
    margin-left: 20px;

}

.button {
    margin-top: 20px;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.energy{
    color: #F72798;

}

.situation {
    color: #F57D1F;
}

.mood {
    color: #EBF400;

}

.js-modal-trigger {
    margin-top: 20px;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    border: 2px solid transparent; /* Transparent border */
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
    


.js-modal-trigger:hover {
    border-color: #EBF400; 
    box-shadow: 0 0 15px 0 #EBF400; /* Neon glow */
}



footer {
    margin-top: 20px;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.is-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 50px;
}

.logo-container{
    display: flex;
    justify-content: left;
}


